body{
    background-color: black;

}

nav{
    height: 200px;
    justify-content: center;
}
h1{
    font-size: 200px;
    font-style: fantasy;

    color: rgb(86, 84, 87);
}
h3{
color: aliceblue;
text-justify: ;
}

header{

}

.frog{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.intro{
    justify-content: center;
    width: fit-content;
    margin-left: 145px;
    color: aliceblue;
    font-size: 40px;
}
.box{
    height: 100vmax;
    width: 200px;
    background: rgb(91, 91, 116);
    margin: 0px 75px;
}

.line{
    display: flex;
    justify-content: center;
}


.circle2{
    height: 450px;
    width: 450px;
    border-radius: 100%;

}

.line2{
    justify-content: center;
}

.oval{
height: 400px;
width: 1400px;
background: green;
border-radius: 50%;
margin-left: 75px;
margin-bottom: 50px;
}