
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
p{
    color: #aebb68;
    font-size:large;
}
nav{
    height: 200px;
}
h1{
    text-align: center;
    font-size: 75px;
    font-style: fantasy;
    color: rgb(86, 84, 87);
}
h2{
    font-size: 100px;
    top: 35%;
    left: 35%;
}
h3{
color: aliceblue;
text-justify: center;
    font-size: 50px;
}

.container{
    text-align: center;
    color: rgb(195, 207, 30);
}
.frog{
    display: flex;

}
.intro{
    text-align: center;
    color: #aebb68;
    font-size: 40px;
}
.box{
    height: 100vmax;
    width: 200px;
    background: rgb(91, 91, 116);
    margin: 0px 75px;
}
.line{
    display: block;
}


#circle2{
    display: flex;
    height: 200px;
    width: 225px;
    border-radius: 100%;
    align-content: center;
    padding: 10px;
    
}
#cats{
    height: 100%;
    width: 100%;
}

.line2{
    justify-content: center;
}

.oval{
    object-fit: fill;
height: 375px;
width: 1250px;
background: #aebb68;
border-radius: 50%;
margin-left: 25px;
margin-bottom: 50px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #aebb68;
    color: #ffffff;
}
/* increased font size */
.header h1 {
    display: inline-block;
    font-size: 100px;
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
}
/* removed unneeded code */
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
.beaver {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #aebb68;
    color: #ffffff;
}
/* increased font size */
.beaver h4 {
    display: inline-block;
    font-size: 80px;
}
.beaver div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
}
/* removed unneeded code */
.beaver div ul {
    list-style-type: none;
}

.beaver div ul li {
    display: inline-block;
    margin-left: 25px;
}
footer{
    color: #aebb68;
}

/* #canvas2 {
    object-fit: fill;
    height: 300px;
    width: 700px;
    background: #aebb68;
    border-radius: 50%;
    margin-left: 75px;
    margin-bottom: 50px;
} */

#my-work-section {
    background: #939490;
    width: 100%;

}
#about-me-section {
    background: #696967;
    width: 50%;
}
#selfimage {
    background: #3f3f3f;
    width: 100%;
    align-items: center;
}

@media(min-width: 600px){
    .oval{
        object-fit: fill;
        height: 188px;
        width: 625px;
        background: #aebb68;
        border-radius: 50%;
        margin-left: 25px;
        margin-bottom: 50px;
    }
}
@media screen {
    
}